body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-background {
  background-color: #222;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.form-container {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #5795d0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

.primary-input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #555;
}

.secondary-input {
  padding: 12px;
  border: 1px solid #1e80e8;
  border-radius: 50px;
  width: 90%;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;

}

.primary-button {
  padding: 10px;
  background-color: #5795d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: #8c5fb2;
}

a {
  text-decoration: none;
  color: #b38bff;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #8c5fb2;
}

p {
  text-align: center;
  margin: 8px;
}

/* drag and drop ui  */

.file-input {
  position: initial;
}

.file-preview {
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

.file-drop-zone {
  border: 2px dashed #1e80e8;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background-color: #f1f8fe;
  min-height: auto;
  text-align: center;
  vertical-align: middle;
}

.file-drop-zone-title {
  padding: 55px 10px;
  cursor: pointer;
  color: #aaa;
  font-size: 1.6em;
  text-align: center;
}

.upload-area p {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #2580e8;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.file-upload-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.file-upload-contain .file-drop-zone.clickable:hover,
.file-upload-contain .file-drop-zone.clickable:focus,
.file-upload-contain .file-highlighted {
  border: 2px dashed #1e80e8 !important;
  background-color: #dfedfc;
}

@media (min-width: 576px) {
  .file-upload-container {
    max-width: 540px;
  }
}

.upload-area button {
  padding: 8px 16px;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #1e80e8;
  border: 2px solid #1e80e8;
  border-radius: 50px;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .file-preview-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .file-zoom-dialog .modal-header {
    flex-direction: column;
  }
}

.file-preview-frame {
  cursor: default;
  display: flex;
  align-items: center;
  border: none;
  background-color: #2580e8;
  box-shadow: none;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  margin: 8px 0px;
}

.file-preview-frame .kv-file-content {
  min-width: 45px;
  min-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-preview-image {
  border-radius: 4px;
}

.file-preview-image {
  font: 40px Impact, Charcoal, sans-serif;
  color: green;
}

.file-preview-frame .file-thumbnail-footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.file-detail {
  font-size: 14px;
  height: auto;
  width: 100%;
  line-height: initial;
}

.file-caption-name:not(.file-caption-disabled) {
  background-color: transparent;
}

.file-detail .file-caption-name {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

.file-detail .file-size {
  color: #f1f8fe;
  font-size: 12px;
}

.file-preview-frame .file-footer-buttons {
  float: none;
  display: flex;
  align-items: center;
}

.kv-file-remove.file-remove {
  border: none;
  background-color: #ef2f2f;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0px 4px;
  cursor: pointer;
  display: flex; 
  align-items: center;
}


/* header */


header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #5795d0;
}

ul {
  margin:0;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

#login button {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}
/* Spinner */


.paytm-loader {
  color: #002e6e;
  width: 3px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: loader 0.5s infinite alternate linear;
  -webkit-box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  -webkit-transform: translateX(-38px);
  -webkit-animation: loader 0.5s infinite alternate linear;
}

@keyframes loader {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

@-webkit-keyframes loader {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
